<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
		  <%=@chartString%>
		 <%@allHours.each do |week|%>
         	['<%=week[0]%>',  
			<%@schoolArray.each do |school|%>
				<%if week[1]['students'][school][0].nil?%>
					0,
				<%else%>
					<%=week[1]['students'][school][0]%>,
				<%end%> 
			<%end%>
			<%=week[1]['all']%>
			],
		 <%end%>
       ]);

       var options = {
         title: 'Total Hours Per Week'
       };

       var chart = new google.visualization.LineChart(document.getElementById('per_week_students_div'));

       chart.draw(data, options);
     }
</script>



<div id="per_week_students_div" style="width: 1100px; height: 600px;"></div>
