<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%=link_to Constants::TEAM_NAME, root_path, :class=>"navbar-brand"%>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div>
    <ul class="nav navbar-nav navbar-right pull-right">
      <li><%= link_to "Log in", log_in_path %> </li>
	  <li><%= link_to "Register", sign_up_path %></li>
	  <li><%=link_to "<span class=\"glyphicon glyphicon-info-sign\"></span>".html_safe, credits_path%></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>